<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
  <div id="post">
    <%= f.input :post, input_html: { class: "textarea "}, wrapper: false, label_html: {class: "label"}, autofocus: true %>
  </div>
  </div>
</div>
<%= f.button :submit, class: "button is-primary" %>
<% end %>